// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$brand-primary:                   rgb(27, 141, 182); //#03A9F4;
$brand-success:                   rgb(239, 119, 56); //#FF9800; 


// Navbar
$navbar-padding-y:                 1rem;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;
$navbar-light-color:               rgba($brand-primary,1) !default;
$navbar-light-hover-color:         rgba($brand-primary,.7) !default;
$navbar-light-active-color:        rgba($brand-success,.9) !default;
$navbar-light-disabled-color:      rgba($brand-primary,.3) !default;

// Layout
$grid-gutter-width-base:           0;


// Typography

$font-family-sans-serif:          'Open Sans', sans-serif;
$font-size-base:                  1.1rem !default;
$headings-font-weight:            700;
$headings-color:                  $brand-success; 
$font-size-h1:                    3.5rem !default;

// Buttons
$btn-font-weight:                 700 !default;